.DS_Store
*.pro.user
*~
build-*
build/
.gradle/
.gradle*
*.pyc
.idea
*.iml

project.xcworkspace
xcuserdata

*.gz
data/*.html
data/images/
data/thumb/
data/index.dat
data/header_images/

builder/genindex/genindex

builder/wikivoyage/*.redirect.txt
builder/wikivoyage/*.info.txt
builder/wikivoyage/*.sql.gz
builder/wikivoyage/images
builder/wikivoyage/articles
builder/wikivoyage/articles_desktop
builder/wikivoyage/Countries

# This is separate git repository with MWM API
android/3rdparty/api-android
