<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guidewithme">


    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- Required to access Google Play Licensing -->
    <uses-permission
        android:name="com.android.vending.CHECK_LICENSE" />

    <!-- Required to download files from Google Play -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Required to keep CPU alive while downloading files (NOT to keep screen awake) -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <!-- Required to poll the state of the network connection and respond to changes -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to check whether Wi-Fi is enabled -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Required to read and write the expansion files on shared storage -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gwm"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.guidewithme.ArticleInfoListActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.guidewithme.ArticleInfoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_articleinfo_detail"
            android:parentActivityName=".ArticleInfoListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleInfoListActivity" />
        </activity>
        <activity
            android:name="com.guidewithme.ExpansionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.guidewithme.expansion.ExpansionService" />

        <receiver
            android:name="com.guidewithme.expansion.DownloadBroadcastReceiver" />
    </application>

</manifest>
